<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Insert title here</title>

</head>
<body>
	<style> .aa{ color:brown;}
			.곽찬양{background:lime;}
	</style>
	<h1> thymeleaf 문법 </h1>
	
	<!-- th:태그속성에 값을 넣어줌 > innerText="곽찬양" -->
	<div th:text="${name}">곽찬양이다</div>
	<div th:class="${name}" id="b">김미란</div>
	<div th:classappend="kim" class="aa">김석진</div> <!-- class="aa kim"으로 들어감 /classappend는 클래스를 추가하겠다-->
	
	<div th:text="${tel}"></div><!--  text는 "이렇게 직접 넣으면 안됨" -->
	<div th:text="${'<mark>aaa</mark>'}"></div> <!-- innerText에 넣어줌 > 글자로 인식 -->
	<div th:utext="${'<mark>aaa</mark>'}"></div><!-- innnerHtml에 넣어주는 방식 > 태그로 인식-->
	
	<div th:text="${age > 20 ?'성인' :'미성년'}"></div>
	
	<p th:if="${age > 20}"> <!--  조건이 참이 되어야 p태그가 만들어짐  th에는 else가 없고 unless가 있음 > if와 따로 만들기 unless는 조건식가짐-->
		성인이구나 찬양이는  		<!--  if는 조건이 참일 때 실행 unless는 주어진 조건이 거짓일 때 실행-->
							<!--  if else문으로 가려면?? 조건을 똑같이 하기 -->
	</p>
	<button th:unless="${age < 20}">미성년자는 나가세요</button>
	
	<div th:switch="${name}">
		<p th:case="김명준"> 은호왈, 그만좀 먹을거 가져와</p> <!-- th는 꼭 html의 태그와 함께 써야함 프론트개발자와 함께 쓰는거라 태그이외의 기능은 넣지 않음 -->
		<p th:case="이정훈"> 은호왈, 점심머 먹을까?</p>
		<p th:case="곽찬양"> 은호왈, 누구신지...?</p> <!-- {name}이 곽찬양이니까 곽찬양인 얘만 실행 -->
	</div>
	
	<form th:object="${user}" method="get" action="/testSave">
	<!-- form태그 : 사용자가 데이터를 입력하고 제출할 수 있는 양식 -->
	<!-- th:object="${user}" : thymeleaf의 속성으로 ${user}라는 모델객체를 폼의 데이터 바인딩 대상 객체로 설정 -->
	<!--object는 객체를 표현 input태그에 id,name,value를 다 넣어줌. object는 *과함께변수이름 쓰기 "*{변수}-->
	
		아이디 : <input type="text" th:field="*{id}"><br>
		이름 : <input type="text" th:field="*{name}"><br>
		연락처 : <input type="text" th:field="*{tel}"><br>
		나이 : <input type="number" th:field="*{age}"><br>
		<button> 저장 </button>
		
	</form>
	
	<table th:object="${user}">
		<tr>
			<td>이름</td>
			<td th:text="*{name}"></td>
		</tr>
		<tr>
			<td>나이</td>
			<td th:text="*{age}"></td>
		</tr>
	</table>
	
	<!-- 
		for( String a : animal){
		
		}
		이 방식으로 
	 -->
	 
	 <ul>
	 	<li th:each="a : ${animal}" th:text="${a}"></li>
	 
	 </ul>
	
</body>
</html>

<!-- 
	thymeleaf 문법 정리
	
	${ } : 변수 - Model 또는 ModelAndView로 지정한 name만 사용가능
				model.addAttribute(name, value) 형식으로
				modelAndView.addObject(name, value) 형식으로
			th:each의 변수 사용 가능
	*{ } : 선택 변수 - MemberDto라는 클래스의 객체에 age, tel 변수를 출력하려면
						객체.age, 객체.tel 이라고 해야한다.
				<div th:object="${member}">
					<b th:text="*{age}"></b>
				</div>
				
	@{ } : url 링크 표현식 - <a href="/test"></a>
						  <a th:href="@{/test}"></a>
						  
	#{ } : 메세지, properties의 값을 표현할 때 사용

	반복문 th:each
		thymeleaf의 반복문, 자바의 for( int num : numbers )의 동작이다.
		반복할 태그에 작성해야 한다.
		names에 배열 또는 컬렉션 객체가 담겨 있다면
		<div>
			<b th:each="name : ${names}" th:text="${name}"></b> 
		</div>
		이와 같은 방법으로 사용해야 한다.
		
	조건문 th:if, th:unless, th:switch, 삼항연산자(조건연산자)
		
		num변수에 10이 저장되어 있다면
		<p th:if="${num >8}" > 8보다 크다 </p>
		<p th:unless="${num >8}" > 8보다 작다</p>
		
		위 태그를 실행하면 8보다 크다 라고 화면에 나온다. 
			8보다 작다는 unless 뒤의 조건이 거짓일 경우에 실행
		th:if는 조건이 참일경우 실행되는 태그이고, th:unless는 조건이 거짓일 경우
		
	출력 - th:text, th:utext, th:value
		
		th:text="${Model 또는 ModelAndView로 지정한 name(변수명)}"
		th:value는 input태그의 value값 지정, select태그의 value값 지정
		
		th:utext는 텍스트가 아닌 html태그로 동작됨
	
	변수 - 변수를 생성하고 값저장 하는 방법 (th:with)
		
		th:with를 통해 생성된 변수는 사용범위가 제한적이다.
		생성된 태그와 하위 태그에서만 사용 가능
		
		<div >
			<div th:with="num=123">
				<p th:text="${num}"></p>
				<div >
					<b th:text="${num}"></b>
				</div>
			<div>			
		</div>
		
		클래스 나누는 이유 : 클래스 하나에 다 만들면 예를들어 게시글 작성시에는 작성자,제목,조회수,내용 등등을 적지만 뷰페이지(게시글목록)에는 제목, 번호, 작성자만 있으면 되는데
		데이터를 계속 모두 쓰니까 공간 낭비
		
		타임리프 내부 주석 <!--/*  */-->
		
		
		
 -->


